{% extends 'base.html' %}

{% block content %}
<div class="form_image">
    <form action="{% url 'add_customer' %}" class="row" method="POST">
        {% csrf_token %}
        {% for customer_field in customer_form %}
        <div class="col-12 mb-2">
            {{customer_field.label_tag}}
            {{customer_field}}
        </div>
        {% endfor %}
        <div class="col-12 text-center mt-4">
            <input class="btn btn-primary" type="submit" value="Save">
        </div>
    </form>
</div>


{% endblock %}