{% extends 'base.html' %}

{% block content %}

<div class="form_image">
    <form action="{% url 'add_extra_services' %}" class="row" method="POST">
        {% csrf_token %}
        {% for extra_service_field in extra_service_form %}
        <div class="col-12 mb-2">
            {{extra_service_field.label_tag}}
            {{extra_service_field}}
        </div>
        {% endfor %}
        <div class="col-12 text-center mt-4">
            <input class="btn btn-primary" type="submit" value="Save">
        </div>
    </form>
</div>


{% endblock %}